@media screen and (max-width: 600px){
	.link1, .images21, .opisss1 {width: 100%}
	.main {display: block;}
}
@media screen and (min-width: 600px) {
	.link1, .images21, .opisss1 {width: 100%}
	.main {display: block;}
}
@media screen and (max-width: 1200px) {
	.link1, .images21, .opisss1 {width: 100%}
	.main {display: block;}
}
@media screen and (min-width: 1200px) {
	
}

table {border: 2px solid black;border-radius: 5px;  width:200px; height: 100px;}
td {border: 2px solid black;}
h2 {text-align: center;}
div.main {height: 1200px;margin: auto; text-align: center;}
div.h1 {font-size: 2vw;color: #333;text-transform: uppercase;letter-spacing: 6px;margin: 0;padding: 20px 0;background-color:#C4ADAE;}
div.q {font-size: 20px;color: #333;text-transform: capitalize;letter-spacing: 1px;margin: 0;padding: 10px 0;background-color:#C4ADAE;}
div.logo {text-align: center; width: 100%; height: 20%;font-size:2vw;}
div.stopka {text-align:center; width: 100%; height: 5%; font-size: 2vw; color: #333;text-transform: uppercase;letter-spacing: 6px;margin: 0;padding: 20px 0;background-color:#C4ADAE; clear: both;}
div.link {text-align:center; width: 100%; height: 5%; background-color:#DD8F38; font-size:2vw;}
div.opisss {width: 70%; height: 70%; background-color: bisque; float: left;}
div.images2 {width: 30%; height: 70%; background-color: darkolivegreen; float: right;}

div.link1 {text-align:center; width: 15%; height: 85%; background-color:#DD8F38; float: right; font-size: 40px;}
div.opisss1 {width: 50%; height: 85%; background-color: bisque; float: right;}
div.images21 {width: 35%; height: 85%; background-color: darkolivegreen; float: left;}
.back {
  border-radius: 4px;
  background-color: #C4ADAE;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 15px;
  padding: 10px;
  width: 100px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 2px;
}

.back span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.back span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.back:hover span {
  padding-right: 25px;
}

.back:hover span:after {
  opacity: 1;
  right: 0;
}

.nextb {
  padding: 15px 25px;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #C4ADAE;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.nextb:hover {background-color: #C4ADAE}

.nextb:active {
  background-color: #C4ADAE;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

body {background-image: url("multimedia/rap3.png"); background-size: cover; margin:0; font-family: "Trebuchet MS"; width: 100%;}


.accordion {
  background-color: #C4ADAE;
  color: #C4ADAE;
  cursor: cell;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: center;
  outline: none;
  font-size: 35px;
  transition: 0.4s;
}

.active, .accordion:hover {
  background-color: WHITE; 
}

.panel {
  padding: 0 18px;
  display: none;
  background-color: #C4ADAE;
  overflow: hidden;
}



* {box-sizing: border-box;}

.bg-img {
	min-height: 100px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.container {
  position: absolute;
  margin: 20px;
  width: auto;
}
.topnav {
  overflow: hidden;
  background-color: #C4ADAE;
}
.topnav a {
  float: left;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration:inherit;
  font-size: 20px;
}
.topnav a:hover {
  background-color: #ddd;
  color: black;
}



.mySlides {display: none}
img {vertical-align: middle;}
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
	right: 0;
  border-radius: 3px 0 0 3px;
}
.next:hover {
  background-color: rgba(0,0,0,0.8);
}
.numbertext {
  color: white;
  font-size: 20px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
	}
.active, .dot:hover {
  background-color: #717171;
}
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}
.anim2 {
      width: 100%;
      height: 100px;
      background: #724608;
      box-shadow: 5px 5px 10px black;
      border: 3px dotted black;
		text-align: center;
	font-size: 2vw;
	text-transform: capitalize;
	letter-spacing: 1px;
	margin: 2;
	padding: 10px 0;
	justify-content: center; 
	align-items: center;
      animation: animacja2 2s ease-in-out infinite alternate;
    }
@keyframes animacja2 {
		 0% {background: #144A04; box-shadow: 5px 5px 10px white; border: 3px dotted black;}
		 50% {background:#B1773D; box-shadow: 8px 8px 15px black;}
		 100% {background: #7A4400 ; border: 3px solid brown;}
		}
.anim3 {
      background-color: yellow;
      animation: animacja3 6s linear infinite;
    }

    @keyframes animacja3 {
      0% {transform: rotate(0deg); background: yellow;}
      50% {transform: rotate(180deg); background: #CC2A2D;}
		100% {transform: rotate(360deg); background:#C214E1;}}